<div class="edit">
  <h1 class="title">Edit a Card</h1>

  <div class="fill-out">
    <div *ngIf="card">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editCardForm">
          <div hidden>
            <mat-form-field>
              <input matInput placeholder="CardID" formControlName="CardID" type="CardID" required [value]="card.CardID" />
            </mat-form-field>
          </div>
          <div hidden>
            <mat-form-field>
              <input matInput placeholder="DeckID" formControlName="DeckID" type="DeckID" required [value]="card.DeckIndex" />
            </mat-form-field>
          </div>
          <div>

            <div class="line">
              <mat-form-field>
                <input matInput placeholder="Term" formControlName="Term" type="Term" required [value]="card.Term" />
              </mat-form-field>
            </div>

            <div class="line">
              <mat-form-field>
                <input matInput placeholder="Definition" formControlName="Definition" type="Definition" required
                  [value]="card.Definition" />
              </mat-form-field>
            </div>
          </div>
          <div class="button">
          <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
    <a mat-button class="back" routerLink="/cards">Back to List</a>
  </div>
</div>