.deckTile {
    background-color: black;
    overflow: visible;
}

.deckCard {
    background-color: #FFC89A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.deckHeader {
    background-color: #FFC89A;
    position: absolute;
    text-align: left;
    font-size: 2em;
    top: 0;
    right: 0;
    left: 0;
    bottom: 80%;
}

.contentBox {
    background-color: #FFF8F3;
    position: absolute;
    right: 1px;
    left: 1px;
    top: 20%;
    bottom: 10%;
}

.graphPercent {
    background-color: black;
    border-radius: 50%;
    margin: 20px 20px;
    width: 120px;
    height: 120px;
    color: white;
}

.menuButton {
    background-color: white;
    border-radius: 50%;
    border: 2px solid #FF7400;
    color: #FF7400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}

.deckTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}