.deckTile {
    background-color: black;
    overflow: visible;
}

.deckCard {
    background-color: #FFC89A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.createButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -40px);
    color: black;
    background-color: #fff8f3;
    
}
.createButton:hover {
    color: #FFA357;
}

 .add {
     font-size: 72px;
     position: absolute;
     top: 1;
     bottom: 3;
     left: 0;
     right: 1;     
 }

.deckHeader {
    background-color: #FFC89A;
    position: absolute;
    text-align: left;
    font-size: 2em;
    top: 0;
    right: 0;
    left: 0;
    bottom: 80%;
}

.contentBox {
    background-color: #FFF8F3;
    position: absolute;
    right: 1px;
    left: 1px;
    top: 20%;
    bottom: 10%;
}

.graphWrapper {
    position: absolute;
    right: 40%;
    left: 0;
    top: 0;
    bottom: 0;
}

.graphPercent {
    background-color: black;
    border-radius: 50%;
    margin: 20px 20px;
    width: 120px;
    height: 120px;
    color: white;
}

.menuButton {
    background-color: white;
    border: 2px solid #FF7400;
    color: #FF7400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: ease-in-out 0.15s;
    right: 2%;
}

.menuButton:hover {
    background-color: #FF7400;
    color: white;
}

.deckTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
.play {
    color: black;
    font-size: 72px;
    position: absolute;
    top: 50px;
    right: -55%;
}
.play:hover {
    color: rgb(92, 196, 92);
}
.cardAdd {
    color: white;
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: #FFC89A;
}
.cardAdd:hover {
    color: #FFA357;
    background-color: white;
}