<mat-grid-list cols="3" gutterSize="2em" rowHeight="4:3">
  <mat-grid-tile class="deckTile">
    <mat-card class="deckCard">
      <div class="deckHeader">
      <p class="deckTitle">Create New Deck</p>
      </div>
      <div class="contentBox">
        <div class="">
      <a mat-button class="createButton" routerLink="/decks/create"><mat-icon class="add">add</mat-icon></a>
      </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let deck of dataSource" class="deckTile">
    <mat-card class="deckCard">
      <div class="deckHeader">
        <p class="deckTitle">
          {{deck.Title}}
        </p>
        <button [matMenuTriggerFor]="menu" class="menuButton">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/decks/detail/{{deck.DeckID}}">
              <mat-icon>info_outline</mat-icon>
              <span>Details</span>
            </button>
          <button mat-menu-item routerLink="/decks/edit/{{deck.DeckID}}">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDialog(deck.DeckID)">
            <mat-icon>delete_outline</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      <div class="contentBox">
        <div class="graphWrapper">
          <circle-progress [percent]=deck.PercentComplete>
          </circle-progress>
        </div>
        <div>
          <button mat-button routerLink="/cards/{{deck.DeckID}}">
            <mat-icon class="play">play_arrow</mat-icon>
          </button>
        </div>
        <div>
          <button class="cardAdd" mat-raised-button routerLink="/cards/create/{{deck.DeckID}}">Add New Card</button>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>