<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile class="headerTile" [colspan]="4">
    <h1 *ngIf="deck">{{deck.Title}}</h1>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="6" class="cardListTile">
    <div class="tableWrapper">

      <mat-form-field style="width: 90%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="terms">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let card"> {{card.Term}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let card" style="display: flex; justify-content: flex-end">
            <i class="material-icons" id="details" routerLink="/cards/detail/{{card.CardID}}/{{deck.DeckID}}">info_outline</i>
            <i mat-icon class="material-icons" id="edit" routerLink="/cards/edit/{{card.CardID}}/{{card.DeckIndex}}">edit</i>
            <i class="material-icons" id="delete">delete_outline</i>
          </mat-cell>
        </ng-container>        

      </mat-table>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="6" class="deckContentTile">
    <div *ngIf="deck">
      <div class="graphDetailWrapper">
        <circle-progress [percent]=deck.PercentComplete>
        </circle-progress>
      </div>
      <div class="deckDetailWrapper">
        <div>
          <span>{{deck.Description}}</span>
        </div>
        <div>
          <label for="">Created:</label>
          <span>{{deck.CreateTime | date: 'short'}}</span>
        </div>
        <div>
          <label for="">Modified:</label>
          <span>{{deck.ModifyTime | date: 'short'}}</span>
        </div>
        <div>
          <label for="">Last Reviewed:</label>
          <span>{{deck.LastReviewed | date: 'short'}}</span>
        </div>

        <button mat-button class="addFlashcard" routerLink="/cards/create/{{deck.DeckID}}">Add Flashcard</button>|
        <button mat-button class="editDeck" routerLink="/decks/edit/{{deck.DeckID}}">Edit</button>|
        <button mat-button class="backToDecks" routerLink="/decks">Back to List</button>
      </div>
      <div>
        <button mat-raised-button class="nav-btn" routerLink="/cards/{{deck.DeckID}}">Review</button>
      </div>
    </div>
  </mat-grid-tile>


</mat-grid-list>