<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile class="headerTile" [colspan]="4">
    <h1 *ngIf="deck">{{deck.Title}}</h1>
  </mat-grid-tile>
  <!-- <mat-grid-tile class="cardListNav">
    <input placeholder="Search" />
    <button *ngIf="deck" mat-button routerLink="/cards/create/{{deck.DeckID}}">
      <mat-icon>add</mat-icon>Add Card
    </button>
  </mat-grid-tile> -->

  <mat-grid-tile [rowspan]="6" class="cardListTile">
    <div class="tableWrapper">

      <mat-form-field style="width: 90%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="terms">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let card"> {{card.Term}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let card" style="display: flex; justify-content: flex-end">
            <i mat-icon class="material-icons">edit</i>
            <i class="material-icons">delete</i>
          </mat-cell>
        </ng-container>

      </mat-table>
    </div>
    <!-- <div *ngIf="cardList">
      <ul class="cardListContent">
        <li *ngFor="let card of cardList">
          <div>
            <span>
              {{card.Term}}
            </span>
            <span class="icon">
              <button *ngIf="deck" id="details" mat-button routerLink="/cards/detail/{{card.CardID}}/{{deck.DeckID}}">
                <mat-icon>info_outline</mat-icon>
              </button>
            </span>
            <span class="icon">
              <button *ngIf="deck" id="edit" mat-button routerLink="/cards/edit/{{card.CardID}}/{{deck.DeckID}}">
                <mat-icon>create</mat-icon>
              </button>
            </span>
            <span class="icon">
              <button *ngIf="deck" id="delete" mat-button routerLink="/cards/delete/{{card.CardID}}">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </span>
          </div>
        </li>
      </ul>
    </div> -->
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="6" class="deckContentTile">
    <div *ngIf="deck">
      <div class="graphDetailWrapper">
        <circle-progress [percent]=deck.PercentComplete>
        </circle-progress>
      </div>
      <div class="deckDetailWrapper">
        <div>
          <label for="">DeckID:</label>
          <span>{{deck.DeckID}}</span>
        </div>
        <div>
          <label for="">Title:</label>
          <span>{{deck.Title}}</span>
        </div>
        <div>
          <label for="">Description:</label>
          <span>{{deck.Description}}</span>
        </div>
        <div>
          <label for="">Created:</label>
          <span>{{deck.CreateTime | date: 'short'}}</span>
        </div>
        <div>
          <label for="">Modified:</label>
          <span>{{deck.ModifyTime | date: 'short'}}</span>
        </div>
        <div>
          <label for="">Last Reviewed:</label>
          <span>{{deck.LastReviewed | date: 'short'}}</span>
        </div>
        <div>
          <label for="">Percent Complete:</label>
          <span>{{deck.PercentComplete}}</span>
        </div>
        <button mat-button class="addFlashcard" routerLink="/cards/create/{{deck.DeckID}}">Add Flashcard</button>|
        <button mat-button class="editDeck" routerLink="/decks/edit/{{deck.DeckID}}">Edit</button>|
        <button mat-button class="backToDecks" routerLink="/decks">Back to List</button>
      </div>
      <div>
        <button mat-raised-button class="nav-btn" routerLink="/cards/{{deck.DeckID}}">Review</button>
      </div>
    </div>
  </mat-grid-tile>


</mat-grid-list>