.mat-table {
    width: 100%;
    background-color: #FFF8F3;
}

.mat-header-row {
    display: none;
}

.tableWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF8F3; 
}

.headerTile {
    background-color: #FFC89A;
    border: 2px solid #FFC89A;
    font: bolder;
}

.cardListTile {
    overflow-y: auto;
    border: 2px solid #FFC89A;
    border-bottom: 1.5em solid #FFC89A;
    background-color: #FFF8F3; 
}

.graphDetailWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 37%;
}

.cardListContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.deckDetailWrapper {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 63%;
    right: 5%;
    transform: translateY(-50%); 
}

.deckContentTile {
    background-color: #FFF8F3;
    border: 2px solid #FFC89A;
    border-bottom: 1.5em solid #FFC89A; 
}

.cardListNav {
    background-color: #FFC89A;
    border: 2px solid #FFC89A;
}

.nav-btn {
    color: white;
    background-color: rgb(92, 196, 92);
    border: 2px solid white;
    position: absolute;
    top: 70%;
    bottom: 20%;
    left: 75%;
    right: 15%;    
}

.addFlashcard:hover {
    color: #ffa357;
}

.editDeck:hover {
    color: rgb(92, 196, 92);
}

.backToDecks:hover {
    color: #ffa357;
}

.icon {
    color: black;
    width: 1em;    
}
#delete {
    position: absolute;
    padding-right: -10em;
}
#delete:hover {
    color: red;
}

#details:hover {
    color: #ffa357;
}

#edit:hover {
    color: rgb(92, 196, 92);
}