<div *ngIf="dataSource">
  <mat-grid-list cols="9" rowHeight="10:35" class="cardReviewWrapper">
    <mat-grid-tile>
      <div [ngSwitch]="cardNum">
        <div *ngSwitchCase="0">
          <button mat-button disabled>
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <div *ngSwitchDefault>
          <button mat-button (click)="prevCard()">
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="deckTile" [colspan]="7">
      <mat-tab-group class="termCard">
        <mat-tab label="Term">
          <mat-card class="termArea">
            <div class="termWrapper">
              {{dataSource[cardNum].Term}}
            </div>
          </mat-card>
        </mat-tab>
        <mat-tab label="Answer">
          <mat-card class="termArea">
            <div class="termWrapper">
              {{dataSource[cardNum].Definition}}
            </div>
            <mat-button-toggle-group class="answerBox">
              <button (click)="submitUnderstanding(0,dataSource[cardNum])">Nope</button>
              <button (click)="submitUnderstanding(1,dataSource[cardNum])">Kinda</button>
              <button (click)="submitUnderstanding(2,dataSource[cardNum])">Yep</button>
            </mat-button-toggle-group>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
    <mat-grid-tile>
      <div [ngSwitch]="cardNum">
        <div *ngSwitchCase="dataSource.length - 1">
          <button mat-button disabled>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <div *ngSwitchDefault>
          <button mat-button (click)="nextCard()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>