<div *ngIf="dataSource">
  <mat-grid-list cols="9" rowHeight="10:35" class="cardReviewWrapper">
    <mat-grid-tile>
      <div [ngSwitch]="cardNum">
        <div *ngSwitchCase="0">
          <button mat-button disabled>
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
        <div *ngSwitchDefault>
          <button mat-button (click)="prevCard()">
            <mat-icon>navigate_before</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="deckTile" [colspan]="7">
      <mat-tab-group class="termCard" [selectedIndex]="cardNum">
        <div class="tp-wrapper">
          <mat-tab label="Term" *ngFor="let card of dataSource">
            <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
              <mat-card class="termArea tp-box_side tp-box_front">
                <div class="termWrapper">
                  {{card.Term}}
                </div>
              </mat-card>
              <mat-card class="termArea tp-box_side tp-box_back">
                <div class="termWrapper">
                  {{card.Definition}}
                </div>
                <mat-button-toggle-group class="answerBox">
                  <button mat-button (click)="submitUnderstanding(0,card)">Nope</button>
                  <button mat-button (click)="submitUnderstanding(1,card)">Kinda</button>
                  <button mat-button (click)="submitUnderstanding(2,card)">Yep</button>
                </mat-button-toggle-group>
              </mat-card>
            </div>
          </mat-tab>
        </div>
        </mat-tab-group>
      </mat-grid-tile>
    <mat-grid-tile>
      <div [ngSwitch]="cardNum">
        <div *ngSwitchCase="dataSource.length - 1">
          <button mat-button disabled>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <div *ngSwitchDefault>
          <button mat-button (click)="nextCard()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div>
    <button mat-raised-button (click)="backToBeginning()" class="rpt">Repeat</button>
    <button mat-raised-button routerLink="/decks/detail/{{dataSource[0].DeckIndex}}" class="exit">Exit</button>
  </div>
</div>