.termCard {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 3px solid #FFC89A;
    background-color: #FF7400; 
}

.cardReviewWrapper {
    width: 80%;
    margin: 8% auto 0;
}

.answerBox {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.termWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.termArea {
    height: 100%;
    padding: 0;
}
.exit {
    color: red;
    background-color: #fff3f3;
    margin-left: 2em;
}
.exit:hover {
    color: white;
    background-color: rgb(255, 154, 154);
}
.rpt {
    color: rgb(92, 196, 92);
    background-color: #ebf8eb;
}
.rpt:hover {
    color: white;
    background-color: #8dd68d;
}

::ng-deep .termCard .mat-tab-header {
    display: none;
}

.tp-wrapper {
    perspective: 800px;
}

.tp-box {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform-style: preserve-3d;
    transition: 1s;
}

.tp-box_side {
    position: absolute;
    cursor: pointer;
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
}

.tp-box_front {
    background: #FFF8F3;
}

.tp-box_back {
    background: #FFF8F3;
    transform: rotateY(179.9deg)
}