.card-details {
    background-color: #fff8f3;
    width: 50%;
    margin: auto;
    background-color:#fff8f3;
    padding-bottom: 1em;
    border-bottom: 1.5em solid #FFC89A;
    border-right: 1px solid #FFC89A;
    border-left: 1px solid #FFC89A;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFC89A;
}