<div class="card-details">
<h1>Details</h1>


<div *ngIf="card">
  <!-- <div>
    <label for=""><b>CardID: </b></label>
    <span>{{card.CardID}}</span>
  </div> -->
  <div>
    <label for=""><b>Term:     </b></label>
    <span>{{card.Term}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Definition:     </b></label>
    <span>{{card.Definition}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Deck ID:     </b></label>
    <span>{{card.DeckIndex}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Created:     </b></label>
    <span>{{card.CreateTime | date: 'short'}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Modified:     </b></label>
    <span>{{card.ModifyTime | date: 'short'}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Last Reviewed:     </b></label>
    <span>{{card.LastReviewed | date: 'short'}}</span>
  </div>
  <br>
  <div>
    <label for=""><b>Number of Times Reviewed:     </b></label>
    <span>{{card.NumberTimesReviewed}}</span>
  </div>
</div>
<br>

<div *ngIf="card">
  <button mat-button class="edit" routerLink="/cards/edit/{{card.CardID}}/{{card.DeckIndex}}">Edit</button>
  <button mat-button class="back" routerLink="/decks/detail/{{card.DeckIndex}}">Back to Deck</button>
</div>
</div>