<div mat-dialog-title>
  <h4>Are you sure you want to delete {{deck.Title}}?</h4>
</div>

<hr>
<mat-dialog-content>
  <!-- <div *ngIf="deck">
    <div>
      <label for="">DeckID:</label>
      <span>{{deck.DeckID}}</span>
    </div>
    <div>
      <label for="">Title:</label>
      <span>{{deck.Title}}</span>
    </div>
    <div>
      <label for="">Description:</label>
      <span>{{deck.Description}}</span>
    </div>
    <div>
      <label for="">Created:</label>
      <span>{{deck.CreateTime | date: 'short'}}</span>
    </div>
    <div>
      <label for="">Modified:</label>
      <span>{{deck.ModifyTime | date: 'short'}}</span>
    </div>
    <div>
      <label for="">LastReviewed:</label>
      <span>{{deck.LastReviewed | date: 'short'}}</span>
    </div>
    <div>
      <label for="">PercentComplete:</label>
      <span>{{deck.PercentComplete}}</span>
    </div>
  </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Back to List</button>
  <button mat-button [mat-dialog-close]="1" color="warn" (click)="onDelete()">Delete</button>
</mat-dialog-actions>