<<<<<<< Updated upstream
=======
h1 {
    color: gray;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font: bold;
}

.button {
    border-bottom-color: black
}
>>>>>>> Stashed changes
