<div class="create">

  <h1 class="title">Create a Deck</h1>
  
  <div class="fill-out">
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="deckForm">
      <div>
        <div>
          <mat-form-field class="line">
            <input matInput placeholder="Title" formControlName="Title" required minlength="1" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="line">
            <input matInput placeholder="Description" formControlName="Description" type="Description" required
              minlength="1" />
          </mat-form-field>
        </div>
      </div>
      <div class="button">
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Deck</button>
      </div>
    </form>
    <a class="back" mat-button routerLink="/decks">Back to List</a>
  </div>
</div>