/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css'; */
@import './theme';

body, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", "sans-serif";
}

.mat-button:hover .mat-button-focus-overlay {
    opacity: 0 !important;
}

.mat-button-focus-overlay {
    background-color: rgba(0,0,0,0);
}

.mat-tab-body-wrapper {
    height: 100%;
}